@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --accent: #fdcc63;
  --purple: #e050a6
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  display: grid;
  place-items: center;
}

button {
  cursor: pointer
}
button:active {
  filter: brightness(0.8);
}

.intro {
  font-weight: bold;
  font-size: clamp(2vw, 18vw, 30rem);
  background-image: url('/intro.png');
  background-size: cover;
  width: 100vw;
  background-position: center;
  -webkit-background-clip: text;   /* Clips image to text */
  color: transparent;              /* Makes text fill see-through */
  -webkit-text-fill-color: transparent;
}

.title {
  font-weight: bold;
  background-image: url('/intro.png');
  background-size: cover;
  width: 100vw;
  background-position: center;
  -webkit-background-clip: text;   /* Clips image to text */
  color: transparent;              /* Makes text fill see-through */
  -webkit-text-fill-color: transparent;
}

.typing-container {
  font-size: clamp(2vw, 7vw, 5rem);
  display: flex;
  justify-content: center ;
}

.typing-letter {
  opacity: 0;
  transform: translateY(10px);
  animation: type-in 0.4s ease forwards;
}

@keyframes type-in {
  to {
    opacity: 1;
    transform: translateY(-1rem);
  }
}
